* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html,
#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../src/Assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../src/Assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../src/Assets/fonts/Roboto-Medium.ttf');
}
